* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212; /* Qorong'u fon (ajdaho yaqqol ko'rinishi uchun) */
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
